.allergyForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.here {border:2px solid purple;}

.objectTest {
		display:none;
		position:fixed;
		top:20%;
		width:100%;
		object{width:100%;
				height:900px;}
		}



h2.stepOne  {
		margin-left: 4%;
		letter-spacing: .5px;
		line-height: 1.5;
		margin-bottom: 55px;
		font-weight: 400;
		font-size: 2.4rem;
	}

.allergyTypes {
	margin-bottom: 60px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	position: relative;

	label {
		cursor: pointer;
		padding: 0 20px;
		line-height: 1.2;
		text-align: center;
		font-size: 1.83rem;
		transition: color .3s;
		
		@media all and (max-width: 759px) {
			font-size: 1.74rem;
		}

		@media all and (max-width: 703px) {
			font-size: 1.68rem;
		}

		@media all and (max-width: 588px) {
			font-size: 1.98rem;
		}

		&:hover {
			color: $red;
		}
	}

	input[type='checkbox'] {
		visibility: hidden;

		&:checked+label {
			color: $red;
			position: relative;

			&::before {
				content: '\f00c';
				// font-family: 'FontAwesome';
				color: $red;
				position: absolute;
				left: -1px;
				top: 1px;
				font-size: 1.7rem;

				@media all and (max-width: 730px) {
					left: 3px;
				}

				@media all and (max-width: 501px) {
					left: 5px;
				}

			}
		}
	}
}

.allergySelection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
	width: 25%;

	@media all and (max-width: 607px) {
		width: 31%;
		margin-bottom: 29px;
	}

	@media all and (max-width: 501px) {
		width: 40%;
	}

	@media all and (max-width: 484px) {
		width: 49%;
	}


	img {
		width: 75px;
		height: 75px;

		@media all and (max-width: 607px) {
			width: 60px;
			height: 60px;
		}

		@media all and (max-width: 607px) {
			width: 55px;
			height: 55px;
		}

		&:hover {
			cursor: pointer;
		}

		&:hover ~ label {
			color: $red;
		}
	}
}

h2.stepTwo {
	margin: 0px 0 40px 4%;
	letter-spacing: .5px;
	color: $blue;
	// position: absolute;
	// left: 0;
	font-size: 2.4rem;

	@media all and (max-width: 661px) {
		margin-bottom: 30px;
	}

	@media all and (max-width: 410px) {
		margin-bottom: 24px;
	}
}

.searchRecipe {
	width: 100%;
	// position: relative;
	// top: 79px;
	margin-top: 70px;
}

#recipeSearch {
		width: 89%;
		display: block;
		margin: 0 auto;
		border: none;
		border-bottom: 3px solid $blue;
		padding: 10px 3px;
		letter-spacing: .5px;
		background-color: transparent;
		font-size: 2.3rem;

		&::-webkit-input-placeholder {
		color: $blue !important;
		}
		 
		&:-moz-placeholder { /* Firefox 18- */
		color: $blue !important;  
		}
		 
		&::-moz-placeholder {  /* Firefox 19+ */
		color: $blue !important;  
		}
		 
		&:-ms-input-placeholder {  
		color: $blue !important;  
		}





		@media all and (max-width: 488px) {
			font-size: 2.15rem;
		}

		@media all and (max-width: 400px) {
			font-size: 2.1rem;
		}

		&:focus {
			outline: none;
		}

		//Keeps background color of text input after Chrome autofill//
		&:-webkit-autofill {
			-webkit-box-shadow: 0 0 0px 1000px white inset;
		}	
}

input[type='submit'] {
	display: block;
	padding: 10px 60px;
	width: 350px;
	text-transform: uppercase;
	border: 2px solid $black;
	background-color: transparent;
	margin: 30px auto 60px auto;
	background-color: $green;
	border: 2px solid $green;
	border-radius: 4px;
	color: white;
	transition: all .3s;
	letter-spacing: .5px;
	font-size: 1.8rem;

	@media all and (max-width: 588px) {
		width: 280px;
		margin-top: -13px
	}

	@media all and (max-width: 400px) {
		width: 250px;
	}

	&:hover {
		background-color: lighten($green,8%);
		border: 2px solid lighten($green,8%);
	}

	&:focus {
		outline: none;
	}
}

input::-webkit-input-placeholder {
color: lighten($black,20%) !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: lighten($black,20%) !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: lighten($black,20%) !important;  
}
 
input:-ms-input-placeholder {  
color: lighten($black,20%) !important;  
}

/////////// results begins ////////////
.resultsUl {
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.resultsLi {
	display: inline-block;
	// border: 4px double lighten($black,7%);
	border-radius: 3px;
	padding: 1.5%;
	margin: 28px;
	width: 40%;
	min-width: 250px;

	@media all and (max-width: 713px) {
		width: 65%;
	}

	@media all and (max-width: 588px) {
		width: 80%;
	}

	& i {
		color: lighten($black,10%);
	}

}

.cardImage {
	overflow: hidden;
	transition: all 1s;

	img {
		width: 100%;
		-webkit-filter: contrast(117%);
    	filter: contrast(117%);
	}
}

.cardTitle {
	margin-top: 17px;
	text-align: center;
	font-size: 2.32rem;

	@media all and (max-width: 900px) {
		font-size: 2.0rem;
	}

	@media all and (max-width: 788px) {
		font-size: 1.8rem;
	}

	@media all and (max-width: 713px) {
		font-size: 2.45rem;
	}

	@media all and (max-width: 588px) {
		font-size: 3.1rem;
	}

	@media all and (max-width: 588px) {
		font-size: 2.8rem;
	}

	@media all and (max-width: 430px) {
		font-size: 2.6rem;
	}

	&:hover {
		text-decoration: underline;
	}

	& a {
		color: $red;
	}
}

.resultTime {
	margin-top: 9px;
	text-align: center;
	letter-spacing: .3px;
	font-size: 1.35rem;

	@media all and (max-width: 730px) {
		font-size: 1.4rem;
	}

	@media all and (max-width: 713px) {
		font-size: 1.53rem;
	}

	@media all and (max-width: 660px) {
		font-size: 1.69rem;
	}

	@media all and (max-width: 588px) {
		font-size: 1.9rem;
	}

	@media all and (max-width: 370px) {
		font-size: 1.8rem;
	}
}

.resultId {
	margin: 30px 0 9px 0;
	text-align: center;
	font-size: 1.27rem;

	@media all and (max-width: 730px) {
		font-size: 1.4rem;
	}

	@media all and (max-width: 730px) {
		font-size: 1.55rem;
	}

	@media all and (max-width: 660px) {
		font-size: 1.73rem;
	}

	@media all and (max-width: 588px) {
		font-size: 1.96rem;
	}

	@media all and (max-width: 370px) {
		font-size: 1.8rem;
	}

	&:hover span.here {
		text-decoration: underline;
	}

	a {
		color: $black;
	}
}

span.red {
	color: $blue;
	// border-bottom: 3px solid $green;
	margin-right: 3px;
}

span.here {
	color: $lightyellow;
}

// MESSAGE WHEN NO RESULTS ARE FOUND //
.noResults {
	margin-top: 50px;
	text-align: center;
	color: lighten($black,12%);
	font-size: 3.5rem;	
}

.searchAgain {
	display: block;
	color: lighten($red,12%);
	text-align: center;
	cursor: pointer;
	margin: 10px 0 120px 0;
	font-size: 3.0rem;	
}


.fixed {position:fixed;}


.disappear {
			// display:none;
			animation:clyde 5s forwards;
			opacity:.5;
		   }


@keyframes clyde {
    


 40% {
 	display:block;
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  to {
    opacity: 0;
    display:none;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -2000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, -2000px, 0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }




}












// @-webkit-keyframes fadeInDownBig {
//   from {
//     opacity: 0;
//     -webkit-transform: translate3d(0, -2000px, 0);
//     transform: translate3d(0, -2000px, 0);
//   }

//   to {
//     opacity: 1;
//     -webkit-transform: none;
//     transform: none;
//   }
// }

// @keyframes fadeInDownBig {
//   from {
//     opacity: 0;
//     -webkit-transform: translate3d(0, -2000px, 0);
//     transform: translate3d(0, -2000px, 0);
//   }

//   to {
//     opacity: 1;
//     -webkit-transform: none;
//     transform: none;
//   }
// }

// .fadeInDownBig {
//   -webkit-animation-name: fadeInDownBig;
//   animation-name: fadeInDownBig;
// }

