.wrapper {
	// width: 85%;
}

body {
	background-image: url('../images/pexels-hero.jpg');
	height:100vh;
	background-size: 100% 100%;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: space-around;
	font-size: 10px;
	&::before {
	    content: ' ';
	    display: block;
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    opacity: 0.9;
	    background-color: $blue;
	    background-size: cover;
	    z-index: -1;
	}
}

main {
	// border: 2px double white;
}


section {
	// For dev purposes ONLY!
	// border: 2px solid red;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	// margin: 3% auto;
} 

form{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
h1 {
	text-align: center;
	letter-spacing: 2px;
	font-size: 9rem;

	@media all and (max-width: 517px) {
		font-size: 10.0rem;
	}

	@media all and (max-width: 403px) {
		font-size: 8.8rem;
	}

	@media all and (max-width: 365px) {
		font-size: 7.64rem;
	}

}

h2 {
	text-align: center;
	letter-spacing: .5px;
	font-size: 2.8rem;

	@media all and (max-width: 517px) {
		font-size: 2.3rem;
	}

	@media all and (max-width: 403px) {
		font-size: 1.9rem;
	}

	@media all and (max-width: 365px) {
		font-size: 1.8rem;
	}
}

