header {
	margin: 5% auto;

	@media all and (max-width: 730px) {
		margin: 10% auto;
	}
}

.box{
	height: 23px;
	width: 23px;
	z-index: 9;
	position: absolute;
	background-color: white;
	top: 15px;
	left: 93px;
}

.ki {
	position: relative;
	left: 20px;
}

.hat {
	width: 26px;
    position: relative;
    bottom: 50px;
    z-index: 10;
    right: 10px;
}

.music {
	width: 53px;
	position: relative;
	top: 19px;
	right: 3px;
}