header {
	padding: 12px 0;
	width: 100%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	position: relative;

	@media all and (max-width: 730px) {
	}
}

.title {
	flex: 1 1 50%;
	// margin: 0 auto 12px auto;

	h1 {
		color: $blue;

	}

	p {
		margin-top: .5%;;
		text-align: center;
	}

	span.poweredBy {
		text-align: center;
		width: 100%;
		color: $black;
		font-family: $montserrat;
		font-weight: 700;
		letter-spacing: .3px;
		font-size: 1.2rem;
	}

	img {
		vertical-align: -3px;
		margin-right: 3px;
		width: 15px;
		height: 15px;	
	}
	
}

.searchFields {
	flex: 1 1 50%;
	margin-right: 1%;
}

.searchForm{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	& button {

		border-radius: 5%;
		// width: 80px;
		cursor: pointer;
	    background-color: $blue;
	    border: none;
	    padding: 0 15px;
	    color: white;
	    letter-spacing: 1.6px;
	    font-family: $montserrat;
	    font-size: 1.4rem;
	    transition: background-color .3s;

	    &:hover {
	    	background-color: lighten($blue,6%);
	    }

	}
}
.fields {
	display: flex;
	flex-direction: column;
	width: 70%;

	input[type='search'] {	
		padding: 13px 53px 13px 17px;
		color: lighten($black, 20%);
		font-size: 1.7rem;

		&:focus {
			outline: none;
		}
	}
}



// .yummlySearch {
// 	width: 100%;
// 	position: relative;

// 	input[type='search'] {
// 		padding: 13px 53px 13px 17px;
// 		color: lighten($black, 20%);
// 		font-size: 1.7rem;

// 		&:focus {
// 			outline: none;
// 		}
// 	}

// 	& #recipeSubmit {
// 		border: none;
// 		background-color: transparent;
// 		margin: 0 auto;
// 		position: absolute;
// 		top: 50%;
// 		transform: translateY(-50%);
// 		right: 20px;
// 		color: lighten($black, 30%);
// 		font-size: 1.8rem;

// 	}
// }

// .spotifySearch {
// 	width: 100%;
// 	position: relative;
	

// 	input[type='search'] {
// 		padding: 13px 53px 13px 17px;
// 		color: lighten($black, 20%);
// 		font-size: 1.7rem;

// 		&:focus {
// 			outline: none;
// 		}
// 	}

// 	& #spotifySubmit {
// 		border: none;
// 		background-color: transparent;
// 		margin: 0 auto;
// 		position: absolute;
// 		top: 50%;
// 		transform: translateY(-50%);
// 		right: 20px;
// 		color: lighten($black, 30%);
// 		font-size: 1.8rem;

// 	}
// }



// .yummlySearch {
// 	background-color: white;
// 	width: 50%;
// 	display: flex;


// 	& .title {
// 		padding: 5px 0;
// 		width: 38%;
		
// 		h1 {
// 			text-align: center;
// 			font-weight: 700;
// 			letter-spacing: -.3px;
// 			color: $black;
// 			font-size: 2.6rem;
// 		}

// 		& p {
// 			text-align: center;

// 			span.poweredBy {
// 				text-align: center;
// 				width: 100%;
// 				color: $black;
// 				font-size: 1.12rem;
// 			}

// 			img {
// 				vertical-align: -3px;
// 				margin-right: 4px;
// 				width: 13px;
// 				height: 13px;	
// 			}
// 		}

		

// 	}

// 		}


