.instructions {
// 	CHANGE BACK!!!!!
	display: none; 
	flex-direction: column;
	align-items: center;
	margin-top: 10%;
	h1 {
		font-size: 7rem;
	}

	ol{
		font-family: $montserrat;
		font-weight: 400;
		font-size: 2.5rem;
		line-height: 4rem;
		margin-top: 7%;
		letter-spacing: .5px;

	}
}
