.sidebar {
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: flex-end;
  // width: 70%;

}

.your-clock {


}

.spotify {
  
  iframe {
    pointer-events: none;
  }

}
